# --- Python & Virtual Environments ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# --- AI & Data Science ---
.ipynb_checkpoints/
*.log
data/raw/             
models/*.pkl          
models/*.h5

# --- IDEs & OS Specific ---
.vscode/
.idea/
.DS_Store
Thumbs.db

lib
Lib
pyvenv.cfg